body{
    background-image: url("assets/background.jpg");
    background-color: rgba(36, 36, 36, 0.7);
    color: aliceblue;
}
.size-title {
    font-size: 7vw;
  }

.pancho{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}