body{
    background: linear-gradient(90deg, rgb(2, 32, 41) 0%, rgb(0, 4, 20) 30%,rgb(0, 4, 20) 60%, rgb(0, 26, 23) 100%);
    color: aliceblue;
}
.size-title {
    font-size: 7vw;
  }
.img{
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 80%;
    background-size: 90% auto;
    max-width: 350px;
}